<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Aquarium Monitor</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
      <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a *ngIf="!auth.isAuthenticated()" class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a>

      <div *ngIf="auth.isAuthenticated()" class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/user/profile" routerLinkActive="active">Profile</a>
        <a *ngIf="auth.currentUser.isAdmin" class="nav-item nav-link" routerLink="/user/settings" routerLinkActive="active">Settings</a>
        <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Log out</a>
      </div>
    </div>
  </div>
</nav>