<div class="container">
  <h3>New Aquarium</h3>
  <form [formGroup]="newAquariumForm" (ngSubmit)="save(newAquariumForm.value)" novalidate>

    <div class="form-group" [ngClass]="{'error': name?.invalid && name?.touched}">
      <label for="aquarium-name">Name: </label>
      <input formControlName="name" id="aquarium-name" type="text" />
      <em *ngIf="name?.invalid && name?.touched">Required</em>
    </div>

    <div class="form-group">
      <label>Type:</label>
      <select class="form-control">
        <option>Marine</option>
        <option>Tropical</option>
        <option>Brackish</option>
      </select>
    </div>

    <div class="form-group" [ngClass]="{'error': volume?.invalid && volume?.touched}">
      <label for="aquarium-volume">Volume: </label>
      <input formControlName="volume" id="aquarium-volume" type="text" />
      <em *ngIf="volume?.invalid && volume?.touched">Must be a number between 1 and 9999</em>
    </div>

    <div class="form-group" [ngClass]="{'error': actualVolume?.invalid && actualVolume?.touched}">
      <label for="aquarium-actual-volume">Actual Volume: </label>
      <input formControlName="actualVolume" id="aquarium-actual-volume" type="text" />
      <em *ngIf="actualVolume?.invalid && actualVolume?.touched">Must be a number between 1 and 9999</em>
    </div>

    <div class="form-group" [ngClass]="{'error': width?.invalid && width?.touched}">
      <label for="aquarium-width">Width: </label>
      <input formControlName="width" id="aquarium-width" type="text" />
      <em *ngIf="width?.invalid && width?.touched">Must be a number between 1 and 9999</em>
    </div>

    <div class="form-group" [ngClass]="{'error': height?.invalid && height?.touched}">
      <label for="aquarium-height">Height: </label>
      <input formControlName="height" id="aquarium-height" type="text" />
      <em *ngIf="height?.invalid && height?.touched">Must be a number between 1 and 9999</em>
    </div>

    <div class="form-group" [ngClass]="{'error': length?.invalid && length?.touched}">
      <label for="aquarium-length">Length: </label>
      <input formControlName="length" id="aquarium-length" type="text" />
      <em *ngIf="length?.invalid && length?.touched">Must be a number between 1 and 9999</em>
    </div>

    <div class="form-group" [ngClass]="{'error': notes?.invalid && notes?.touched}">
      <label for="aquarium-notes">Notes: </label>
      <textarea formControlName="name" id="aquarium-notes"></textarea>
      <em *ngIf="notes?.invalid && notes?.touched">Required</em>
    </div>

    <button type="button" class="btn btn-outline-info" (click)="cancel()">Go Back</button>
    <button type="submit" class="btn btn-outline-info" [disabled]="newAquariumForm.invalid">Save</button>
  </form>
</div>